<section class="toc height-fix">
    <a href="#" class="toc-button"><span class="show">Show</span> Vol.2 Table of Contents</a>
    <p class="italic toc-label">Vol.2 Table of Contents</p>
    <nav class="toc-nav hide">
        <ul class="main-ch">
            <li><a href="{{ "/volume-two/letter-to-the-survivor/" | relative_url }}" {% if page.url == "/volume-two/letter-to-the-survivor/" %}class="toc-active"{% endif %}>Letter to the Survivor</a></li>
            <li><a href="{{ "/volume-two/trauma-response/" | relative_url }}" {% if page.url == "/volume-two/trauma-response/" %}class="toc-active"{% endif %}>Trauma Response</a></li>
            <li><a href="{{ "/volume-two/lgbtq+-community/" | relative_url }}">Identity Specific Traumas</a></li>
            <li class="sub-ch-margin">
                <ul class="sub-ch">
                    <li><a href="{{ "/volume-two/lgbtq+-community/" | relative_url }}" {% if page.url == "/volume-two/lgbtq+-community/" %}class="toc-active"{% endif %}>LGBTQ+ Community</a></li>
                    <li><a href="{{ "/volume-two/african-american-communities/" | relative_url }}" {% if page.url == "/volume-two/african-american-communities/" %}class="toc-active"{% endif %}>African American Communities</a></li>
                    <li><a href="{{ "/volume-two/asian-communities/" | relative_url }}" {% if page.url == "/volume-two/asian-communities/" %}class="toc-active"{% endif %}>Asian Communities</a></li>
                    <li><a href="{{ "/volume-two/latinx-communities/" | relative_url }}" {% if page.url == "/volume-two/latinx-communities/" %}class="toc-active"{% endif %}>LatinX Communities</a></li>
                    <li><a href="{{ "/volume-two/middle-eastern-communities/" | relative_url }}" {% if page.url == "/volume-two/middle-eastern-communities/" %}class="toc-active"{% endif %}>Middle Eastern Communities</a></li>
                    <li><a href="{{ "/volume-two/native-american-communities/" | relative_url }}" {% if page.url == "/volume-two/native-american-communities/" %}class="toc-active"{% endif %}>Native American Communities</a></li>
                    <li><a href="{{ "/volume-two/pacific-islander-communities/" | relative_url }}" {% if page.url == "/volume-two/pacific-islander-communities/" %}class="toc-active"{% endif %}>Pacific Islander Communities</a></li>
                    <li><a href="{{ "/volume-two/people-with-disabilities/" | relative_url }}" {% if page.url == "/volume-two/people-with-disabilities/" %}class="toc-active"{% endif %}>People with Disabilities</a></li>
                    <li><a href="{{ "/volume-two/international-students/" | relative_url }}" {% if page.url == "/volume-two/international-students/" %}class="toc-active"{% endif %}>International Students</a></li>
                </ul>
            </li>
            <li><a href="{{ "/volume-two/section-to-journal/" | relative_url }}" {% if page.url == "/volume-two/section-to-journal/" %}class="toc-active"{% endif %}>Section to Journal</a></li>
            <li><a href="{{ "/volume-two/identify-your-needs/" | relative_url }}" {% if page.url == "/volume-two/identify-your-needs/" %}class="toc-active"{% endif %}>Identify Your Needs</a></li>
            <li><a href="{{ "/volume-two/finding-time-to-heal/" | relative_url }}" {% if page.url == "/volume-two/finding-time-to-heal/" %}class="toc-active"{% endif %}>Finding Time to Heal</a></li>
            <li><a href="{{ "/volume-two/breathwork/" | relative_url }}" {% if page.url == "/volume-two/breathwork/" %}class="toc-active"{% endif %}>Breathwork</a></li>
            <li><a href="{{ "/volume-two/body-movement/" | relative_url }}" {% if page.url == "/volume-two/body-movement/" %}class="toc-active"{% endif %}>Body Movement</a></li>
            <li><a href="{{ "/volume-two/mindful-coloring/" | relative_url }}" {% if page.url == "/volume-two/mindful-coloring/" %}class="toc-active"{% endif %}>Mindful Coloring</a></li>
            <li><a href="{{ "/volume-two/exploring-sexuality-after-violence/" | relative_url }}" {% if page.url == "/volume-two/exploring-sexuality-after-violence/" %}class="toc-active"{% endif %}>Exploring Sexuality After Violence</a></li>
            <li><a href="{{ "/volume-two/weekend/" | relative_url }}" {% if page.url == "/volume-two/weekend/" %}class="toc-active"{% endif %}>Weekend by Emmanuel Muñoz</a></li>
            <li><a href="{{ "/volume-two/congratulations/" | relative_url }}" {% if page.url == "/volume-two/congratulations/" %}class="toc-active"{% endif %}>Congratulations!</a></li>
            <li><a href="{{ "/volume-two/resources/" | relative_url }}" {% if page.url == "/volume-two/resources/" %}class="toc-active"{% endif %}>Resources</a></li>
            <li><a href="{{ "/volume-two/references/" | relative_url }}" {% if page.url == "/volume-two/references/" %}class="toc-active"{% endif %}>References</a></li>
        </ul>
    </nav>
  </section>