<section class="toc height-fix">
    <a href="#" class="toc-button"><span class="show">Show</span> Vol.1 Table of Contents</a>
    <p class="italic toc-label">Vol.1 Table of Contents</p>
    <nav class="toc-nav hide">
        <ul class="main-ch">
            <li><a href="{{ "/volume-one/letter-to-the-survivor/" | relative_url }}" {% if page.url == "/volume-one/letter-to-the-survivor/" %}class="toc-active"{% endif %}>Letter to the Survivor</a></li>
            <li><a href="{{ "/volume-one/intro-to-trauma/" | relative_url }}" {% if page.url == "/volume-one/intro-to-trauma/" %}class="toc-active"{% endif %}>Introduction to Trauma</a></li>
            <li><a href="{{ "/volume-one/intro-to-healing/" | relative_url }}" {% if page.url == "/volume-one/intro-to-healing/" %}class="toc-active"{% endif %}>Introduction to Healing</a></li>
            <li><a href="{{ "/volume-one/healing-modality-journey/" | relative_url }}" {% if page.url == "/volume-one/healing-modality-journey/" %}class="toc-active"{% endif %}>Healing Modality Journey</a></li>
            <li class="sub-ch-margin">
                <ul class="sub-ch">
                    <li><a href="{{ "/volume-one/journaling/" | relative_url }}" {% if page.url == "/volume-one/journaling/" %}class="toc-active"{% endif %}>Journaling</a></li>
                    <li><a href="{{ "/volume-one/yoga/" | relative_url }}" {% if page.url == "/volume-one/yoga/" %}class="toc-active"{% endif %}>Yoga</a></li>
                    <li><a href="{{ "/volume-one/meditation/" | relative_url }}" {% if page.url == "/volume-one/meditation/" %}class="toc-active"{% endif %}>Meditation</a></li>
                    <li><a href="{{ "/volume-one/hiking-and-nature/" | relative_url }}" {% if page.url == "/volume-one/hiking-and-nature/" %}class="toc-active"{% endif %}>Hiking & Nature</a></li>
                    <li><a href="{{ "/volume-one/sex-and-pleasure-activism/" | relative_url }}" {% if page.url == "/volume-one/sex-and-pleasure-activism/" %}class="toc-active"{% endif %}>Sex & Pleasure Activism</a></li>
                    <li><a href="{{ "/volume-one/therapy/" | relative_url }}" {% if page.url == "/volume-one/therapy/" %}class="toc-active"{% endif %}>Therapy</a></li>
                    <li><a href="{{ "/volume-one/crystals/" | relative_url }}" {% if page.url == "/volume-one/crystals/" %}class="toc-active"{% endif %}>Crystals</a></li>
                    <li><a href="{{ "/volume-one/boundaries/" | relative_url }}" {% if page.url == "/volume-one/boundaries/" %}class="toc-active"{% endif %}>Boundaries</a></li>
                </ul>
            </li>
            <li><a href="{{ "/volume-one/readings-on-trauma/" | relative_url }}" {% if page.url == "/volume-one/readings-on-trauma/" %}class="toc-active"{% endif %}>Readings on Trauma</a></li>
            <li><a href="{{ "/volume-one/self-care-assessment/" | relative_url }}" {% if page.url == "/volume-one/self-care-assessment/" %}class="toc-active"{% endif %}>Self Care Assessment</a></li>
            <li><a href="{{ "/volume-one/healing-plan/" | relative_url }}" {% if page.url == "/volume-one/healing-plan/" %}class="toc-active"{% endif %}>Healing Plan</a></li>
            <li><a href="{{ "/volume-one/healing-media-content/" | relative_url }}" {% if page.url == "/volume-one/healing-media-content/" %}class="toc-active"{% endif %}>Healing Media Content</a></li>
            <li><a href="{{ "/volume-one/congratulations/" | relative_url }}" {% if page.url == "/volume-one/congratulations/" %}class="toc-active"{% endif %}>Congratulations!</a></li>
        </ul>
    </nav>
  </section>